@charset "utf-8";
/* CSS Document */

body{
	background-image: url("../images/DSC_0085-2.jpg");
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	background-position: center;
	padding: 60px;
}
table {
	border: 1px solid #f1f1f1;
	background-color:#fff;
	width: 60%;
	margin: auto;
	padding: 4px;
	}
h1{
	color: antiquewhite;
}

button {
				background-color: steelblue;
				color: white;
				padding: 14px 20px;
				margin: 8px 0;
				border: none;
				cursor: pointer;
				width: 100%;
				margin-top: 20px;
			}

			button:hover {
				opacity: 0.8;
			}