@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../images/DSC_0085-2.JPG);
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	background-position: center;
	padding: 60px;
}
			form {
				border: 3px solid #f1f1f1;
				background-color:#eff1f4;
				width: 60%;
				margin: auto;
}

input[type=text], input[type=password], input[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background-color:#ccc;
	}
select{
	margin-top: 5px;
	margin-bottom: 8px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background-color:#ccc;
	}
textarea{
	margin-top: 5px;
	margin-bottom: 8px;
	height: 40px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background-color:#ccc;
	height: auto;
	}
			button {
				background-color: steelblue;
				color: white;
				padding: 14px 20px;
				margin: 8px 0;
				border: none;
				cursor: pointer;
				width: 100%;
				margin-top: 20px;
			}

			button:hover {
				opacity: 0.8;
			}
			
			.regist {
				width: 20%;
				padding: 10px 18px;
				background-color: steelblue;
			}

			.imgcontainer {
				text-align: center;
				margin: 24px 0 12px 0;
			}

			img.avatar {
				width: 40%;
				border-radius: 50%;
			}

			.container {
				padding:18px;
			}
			